<h1>Woven Heaven, Tangled Earth</h1>

<h2>Introduction</h2>

<div class="row">
	<div class="col-md-4">
		<img
			src="img/wovenheaventangledearth.png"
			class="img-fluid rounded"
			alt="Depiction of Woven Heaven, Tangled Earth" />
	</div>
</div>

<p>
	Long before Europeans arrived, the Indigenous People of Latin America had developed design traditions that embodied
	several mathematical and computational ideas. These were often conceived as existing in two categories:
</p>

<div class="row">
	<div class="col-sm-6">
		<p><u>"Order from above"</u></p>
		<ul class="ulmatch">
			<li>
				Four-fold symmetry: very similar to the Cartesian coordinate system, but also symbolizing cosmological beliefs.
			</li>
			<li>Algorithms: the sequence of instructions that create specific patterns</li>
		</ul>
	</div>
	<div class="col-sm-6">
		<p><u>"Disorder from below"</u></p>
		<ul class="ulmatch">
			<li>
				Randomness: in contrast to the order of predictable patterns, these visualize nature's diversity and
				unpredictability
			</li>
			<li>Eulerian paths: these designs often symbolize the spatial complexity of labyrinths and organic forms</li>
		</ul>
	</div>
</div>
