<h1 class="sub">Adinkra Design Challenges</h1>
<p class="subheader">Test your knowledge with these projects</p>

<div class="row">
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<div>
				<a href="/projects/18526/run">
					<img src="./img/adinkrahene2.jpg" alt="Adinkrahene" class="img-fluid tut-img" />
				</a>
			</div>
			<div class="ts-section">
				<div class="ts-header">Adinkrahene</div>
				<p>Create the missing circles.</p>
			</div>
			<div class="ts-section">
				<a class="big-link" href="/projects/18526/run">The Challenge&nbsp;<i class="fas fa-angle-right"></i></a><br />
				<hr />
				<p class="solution-text">View the <a href="/projects/18527/run">solution</a>.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<div>
				<a href="/projects/18528/run">
					<img src="./img/akoma.png" alt="Akoma" class="img-fluid tut-img" />
				</a>
			</div>
			<div class="ts-section">
				<div class="ts-header">Akoma</div>
				<p>Create the right side of the symbol.</p>
			</div>
			<div class="ts-section">
				<a class="big-link" href="/projects/18528/run">The Challenge&nbsp;<i class="fas fa-angle-right"></i></a><br />
				<hr />
				<p class="solution-text">View the <a href="/projects/18529/run">solution</a>.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<div>
				<a href="/projects/18540/run">
					<img src="./img/mpuannum.png" alt="Mpuannum" class="img-fluid tut-img" />
				</a>
			</div>
			<div class="ts-section">
				<div class="ts-header">Mpuannum</div>
				<p>Create the missing circles.</p>
			</div>
			<div class="ts-section">
				<a class="big-link" href="/projects/18540/run">The Challenge&nbsp;<i class="fas fa-angle-right"></i></a><br />
				<hr />
				<p class="solution-text">View the <a href="/projects/18541/run">solution</a>.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<div>
				<a href="/projects/18543/run">
					<img src="./img/dwennimmen_square.png" alt="Dwennimmen" class="img-fluid tut-img" />
				</a>
			</div>
			<div class="ts-section">
				<div class="ts-header">Dwennimmen</div>
				<p>Create the missing logarithmic spirals.</p>
			</div>
			<div class="ts-section">
				<a class="big-link" href="/projects/18543/run">The Challenge&nbsp;<i class="fas fa-angle-right"></i></a><br />
				<hr />
				<p class="solution-text">View the <a href="/projects/18544/run">solution</a>.</p>
			</div>
		</div>
	</div>
</div>
