<hr />
<a href="./spirals.html"> <i class="fas fa-angle-left"></i> Back to Adinkra Spirals</a>
<hr />

<h1>Why do Rams' Horns Grow Into Spirals?</h1>

<h2 class="mt-5">The Evolution of Spiral Horns</h2>
<div class="row">
	<div class="col-md-8">
		<p>
			Charles Darwin was the first to hypothesize that the horns of rams evolved because of competition for mates. The
			ram that could drive off other males could have more children, and they would pass on the genes for bigger horns.
			Biologist Barbara Lundrigan, who studied fighting in different bovids (goats, sheep, cattle, buffalo, bison, and
			antelope) found that different fighting styles were associated with different horn shapes: short stubby horns for
			those who used stabbing; long horns for “wrestling” and spiral horns for ramming. The Ghanaian proverb was right:
			it really is the heart (desire to mate) and not the horns that leads to fighting. But it is also the style of
			fighting that leads to the type of horns.
		</p>
	</div>
	<div class="col-md-4">
		<img src="./img/hornbehavior.jpg" class="img-fluid rounded" alt="horn behavior" />
		<p class="figure-caption text-center">Horns and Behavior</p>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<p>
			When you look at the small tip of the horn, you are seeing the whole horn the ram had when it was young. As the
			head grows, so does the diameter of the horn. The outer horn is "keratin," the same protein as your fingernails.
			The keratin growth is not even on all sides. The outer edge of the horn grows faster, so it creates a curve as it
			grows. A thicker outer edge also provides more protection for head butting. The inside core is bone, which shapes
			itself to fill in the hollow space left by the keratin. In this picture the bone has been removed.
		</p>
	</div>
	<div class="col-md-4 align-self-center">
		<img src="./img/horn.jpg" class="img-fluid rounded" alt="Rams Horn" />
		<p class="figure-caption text-center">Rams' Horn</p>
	</div>
</div>
