<h1 class="sub">Adinkra Software</h1>
<p class="subheader">Create your own Adinkra symbols and patterns</p>

<div class="row">
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/applications/103/run">
				<img src="./img/carving-software.png" class="img-fluid tut-img" alt="Adinkra Carving Software" />
			</a>
			<div class="ts-section">
				<div class="ts-header text-center"><a href="/applications/103/run">Carving</a></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/applications/104/run">
				<img src="./img/stamping-software.png" class="img-fluid tut-img" alt="Adinkra Carving Software" />
			</a>
			<div class="ts-section">
				<div class="ts-header text-center"><a href="/applications/104/run">Polar Stamping</a></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/applications/150/run">
				<img
					src="./img/grid-stamping.png"
					class="img-fluid tut-img"
					alt="Adinkra Grid Software"
					style="aspect-ratio: 1; object-fit: cover" />
			</a>
			<div class="ts-section">
				<div class="ts-header text-center"><a href="/applications/150/run">Grid Stamping</a></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/applications/105/run">
				<img src="./img/adinkra-animations.png" class="img-fluid tut-img" alt="Adinkra Animations Software" />
			</a>
			<div class="ts-section">
				<div class="ts-header text-center"><a href="/applications/105/run">Animations</a></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/static/CSDT_Single_Page/adinkraGrapher/index.html">
				<img src="./img/adinkra-grapher.png" class="img-fluid tut-img" alt="Adinkra Graphing Software" />
			</a>
			<div class="ts-section">
				<div class="ts-header text-center">
					<a href="/static/CSDT_Single_Page/adinkraGrapher/index.html">Grapher</a>
				</div>
			</div>
		</div>
	</div>
</div>
