<hr />
<a href="./origins.html"> <i class="fas fa-angle-left"></i> Back to Adinkra Origins</a>
<hr />

<h1>Adinkra Symbols</h1>

<p class="mt-5">
	Below is a table containing all of the Adinkra symbols, along with their Twi name and with their meanings. For a pdf
	of this list, <a href="./resources/AdinkraSymbols.pdf">click here</a> to download it.
</p>
<table class="table">
	<thead>
		<tr>
			<td>
				<p>Image</p>
			</td>
			<td>
				<p>Twi Name</p>
			</td>
			<td>
				<p>Literal Translation</p>
			</td>
			<td>
				<p>Symbolic Meaning</p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_003.png" />
			</td>
			<td>
				<p>ADINKRAHENE</p>
			</td>
			<td>
				<p>“Chief of adinkra symbols”</p>
			</td>
			<td>
				<p>Greatness, charisma, leadership</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_004.png" />
			</td>
			<td>
				<p>AKOKO NAN</p>
			</td>
			<td>
				<p>“The leg of a hen”</p>
			</td>
			<td>
				<p>Mercy, nurturing</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_005.png" />
			</td>
			<td>
				<p>AKOMA</p>
			</td>
			<td>
				<p>“The heart”</p>
			</td>
			<td>
				<p>Patience &amp; tolerance</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_006.png" />
			</td>
			<td>
				<p>ANANSE NTONTAN</p>
			</td>
			<td>
				<p>“Spider's web”</p>
			</td>
			<td>
				<p>Wisdom, creativity</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_007.png" />
			</td>
			<td>
				<p>ASASE YE DURU</p>
			</td>
			<td>
				<p>“The earth has weight”</p>
			</td>
			<td>
				<p>Divinity of mother earth</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_008.png" />
			</td>
			<td>
				<p>AYA</p>
			</td>
			<td>
				<p>“fern”</p>
			</td>
			<td>
				<p>Endurance, resourcefulness</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_009.png" />
			</td>
			<td>
				<p>DWENNIMMEN</p>
			</td>
			<td>
				<p>“Ram's horns”</p>
			</td>
			<td>
				<p>Humility and strength</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_010.png" />
			</td>
			<td>
				<p>EPA</p>
			</td>
			<td>
				<p>“handcuffs”</p>
			</td>
			<td>
				<p>Law, justice, slavery</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_011.png" />
			</td>
			<td>
				<p>FUNTUNFUNEFU DENKYEMFUNEFU</p>
			</td>
			<td>
				<p>“Siamese crocodiles”</p>
			</td>
			<td>
				<p>Democracy, unity in diversity</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_012.png" />
			</td>
			<td>
				<p>GYE NYAME</p>
			</td>
			<td>
				<p>“Except for God”</p>
			</td>
			<td>
				<p>Supremacy of God</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_013.png" />
			</td>
			<td>
				<p>MMERE DANE</p>
			</td>
			<td>
				<p>“Time changes”</p>
			</td>
			<td>
				<p>Change, life's dynamics</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_014.png" />
			</td>
			<td>
				<p>MPATAPO</p>
			</td>
			<td>
				<p>“Knot of reconciliation”</p>
			</td>
			<td>
				<p>Peacemaking, reconciliation</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_015.png" />
			</td>
			<td>
				<p>MPUANNUM</p>
			</td>
			<td>
				<p>“Five tufts” (of hair)</p>
			</td>
			<td>
				<p>Priestly office, loyalty, adroitness</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_016.png" />
			</td>
			<td>
				<p>ODO NNYEW FIE KWAN</p>
			</td>
			<td>
				<p>“Love never loses its way home”</p>
			</td>
			<td>
				<p>Power of love</p>
			</td>
		</tr>
	</tbody>
</table>
<table class="table">
	<tbody>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_017.png" />
			</td>
			<td>
				<p>SANKOFA</p>
			</td>
			<td>
				<p>“Return and get it”</p>
			</td>
			<td>
				<p>Learn from the past</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_018.png" />
			</td>
			<td>
				<p>SEPOW</p>
			</td>
			<td>
				<p>“Executioner&#39;s knife”</p>
			</td>
			<td>
				<p>Justice</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/akofena.png" />
			</td>
			<td>
				<p>AKOFENA</p>
			</td>
			<td>
				<p>“Sword of war”</p>
			</td>
			<td>
				<p>Courage, valor</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_019.png" />
			</td>
			<td>
				<p>AKOMA NTOSO</p>
			</td>
			<td>
				<p>“Linked hearts”</p>
			</td>
			<td>
				<p>Understanding, agreement</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_020.jpg" />
			</td>
			<td>
				<p>BESE SAKA</p>
			</td>
			<td>
				<p>“Sack of cola nuts”</p>
			</td>
			<td>
				<p>Affluence, abundance, unity</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_021.png" />
			</td>
			<td>
				<p>BI NKA BI</p>
			</td>
			<td>
				<p>“No one should bite the other”</p>
			</td>
			<td>
				<p>Peace, harmony</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_022.png" />
			</td>
			<td>
				<p>BOA ME NA ME MMOA WO</p>
			</td>
			<td>
				<p>“Help me and let me help you”</p>
			</td>
			<td>
				<p>Cooperation, interdependence</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_023.png" />
			</td>
			<td>
				<p>DAME-DAME</p>
			</td>
			<td>
				<p>“Name of a board game”</p>
			</td>
			<td>
				<p>Intelligence, ingenuity</p>
			</td>
		</tr>

		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_024.png" />
			</td>
			<td>
				<p>DENKYEM</p>
			</td>
			<td>
				<p>“Crocodile”</p>
			</td>
			<td>
				<p>Adaptability</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_025.png" />
			</td>
			<td>
				<p>DUAFE</p>
			</td>
			<td>
				<p>“Wooden comb”</p>
			</td>
			<td>
				<p>Beauty, hygiene, feminine qualities</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_026.png" />
			</td>
			<td>
				<p>EBAN</p>
			</td>
			<td>
				<p>“Fence”</p>
			</td>
			<td>
				<p>Love, safety, security</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_027.png" />
			</td>
			<td>
				<p>ESE NE TEKREMA</p>
			</td>
			<td>
				<p>“The teeth and the tongue”</p>
			</td>
			<td>
				<p>Friendship, interdependence</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_028.png" />
			</td>
			<td>
				<p>FAWOHODIE</p>
			</td>
			<td>
				<p>“Independence”</p>
			</td>
			<td>
				<p>Independence, freedom, emancipation</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_029.png" />
			</td>
			<td>
				<p>FIHANKRA</p>
			</td>
			<td>
				<p>“House, compound”</p>
			</td>
			<td>
				<p>Security and safety</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_030.png" />
			</td>
			<td>
				<p>FOFO</p>
			</td>
			<td>
				<p>“Yellow Flowered plant”</p>
			</td>
			<td>
				<p>Jealousy and envy</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_031.png" />
			</td>
			<td>
				<p>HWE MU DUA</p>
			</td>
			<td>
				<p>“Measuring stick”</p>
			</td>
			<td>
				<p>Examination and quality control</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_032.png" />
			</td>
			<td>
				<p>HYE WON HYE</p>
			</td>
			<td>
				<p>“That which does not burn”</p>
			</td>
			<td>
				<p>Imperishability and endurance</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_033.png" />
			</td>
			<td>
				<p>KETE PA</p>
			</td>
			<td>
				<p>“Good bed”</p>
			</td>
			<td>
				<p>Good marriage</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_034.png" />
			</td>
			<td>
				<p>KINTINKANTAN</p>
			</td>
			<td>
				<p>“Puffed up extravagance”</p>
			</td>
			<td>
				<p>Arrogance</p>
			</td>
		</tr>
		<tr>
			<td>
				<img width="136" height="83" class="img-fluid rounded" alt="" src="./resources/symbols/Image_035.png" />
			</td>
			<td>
				<p>KWATAKYE ATIKO</p>
			</td>
			<td>
				<p>“Hair style of an Asante war captain”</p>
			</td>
			<td>
				<p>Bravery and valor</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_036.png" />
			</td>
			<td>
				<p>MATE MASIE</p>
			</td>
			<td>
				<p>“What I hear, I keep”</p>
			</td>
			<td>
				<p>Wisdom, knowledge, and prudence.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_037.png" />
			</td>
			<td>
				<p>ME WARE WO</p>
			</td>
			<td>
				<p>“I shall marry you”</p>
			</td>
			<td>
				<p>Commitment and perseverance</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_038.jpg" />
			</td>
			<td>
				<p>MFRAMADAN</p>
			</td>
			<td>
				<p>“Wind-resistant house”</p>
			</td>
			<td>
				<p>Fortitude and readiness to face life's vicissitudes</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_039.png" />
			</td>
			<td>
				<p>MMUSUYIDEE</p>
			</td>
			<td>
				<p>“That which removes bad luck”</p>
			</td>
			<td>
				<p>Good fortune and sanctity.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_040.png" />
			</td>
			<td>
				<p>NEA ONNIM NO SUA A, OHU</p>
			</td>
			<td>
				<p>“He who does not know can know from learning”</p>
			</td>
			<td>
				<p>Knowledge, life-long education, and a continued quest for knowledge.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_041.png" />
			</td>
			<td>
				<p>NEA OPE SE OBEDI HENE</p>
			</td>
			<td>
				<p>“He who wants to be king”</p>
			</td>
			<td>
				<p>Service and leadership</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_042.png" />
			</td>
			<td>
				<p>NKONSONKONS ON</p>
			</td>
			<td>
				<p>“Chain Link”</p>
			</td>
			<td>
				<p>Unity and human relations</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_043.png" />
			</td>
			<td>
				<p>NYAME DUA</p>
			</td>
			<td>
				<p>“Tree of god” (altar)</p>
			</td>
			<td>
				<p>God's presence and protection</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_044.png" />
			</td>
			<td>
				<p>NKYIMU</p>
			</td>
			<td>
				<p>“The crossed divisions made on adinkra cloth before stamping”</p>
			</td>
			<td>
				<p>Skillfulness and precision</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_045.png" />
			</td>
			<td>
				<p>NKYINKYIM</p>
			</td>
			<td>
				<p>“Twisting”</p>
			</td>
			<td>
				<p>Initiative, dynamism, and versatility</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_046.png" />
			</td>
			<td>
				<p>NSAA</p>
			</td>
			<td>
				<p>“Type of hand-woven fabric”</p>
			</td>
			<td>
				<p>Excellence, genuineness, and authenticity</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_047.png" />
			</td>
			<td>
				<p>NSOROMMA</p>
			</td>
			<td>
				<p>“Child of the heavens [stars]”</p>
			</td>
			<td>
				<p>Guardianship</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_048.png" />
			</td>
			<td>
				<p>NYAME BIRIBI WO SORO</p>
			</td>
			<td>
				<p>“God is in the heavens”</p>
			</td>
			<td>
				<p>Hope</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_049.png" />
			</td>
			<td>
				<p>NYAME NNWU NA MAWU</p>
			</td>
			<td>
				<p>“God never dies, therefore I cannot die”</p>
			</td>
			<td>
				<p>God's omnipresence and the perpetual existence of man's spirit.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_050.png" />
			</td>
			<td>
				<p>NYAME NTI</p>
			</td>
			<td>
				<p>“By God's grace”</p>
			</td>
			<td>
				<p>Faith and trust in God</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_051.png" />
			</td>
			<td>
				<p>NYAME YE OHENE</p>
			</td>
			<td>
				<p>“God is King”</p>
			</td>
			<td>
				<p>Majesty and supremacy of God</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_052.jpg" />
			</td>
			<td>
				<p>NYANSAPO</p>
			</td>
			<td>
				<p>“Wisdom Knot”</p>
			</td>
			<td>
				<p>Wisdom, ingenuity, intelligence, and patience.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_053.png" />
			</td>
			<td>
				<p>OKODEE MMOWERE</p>
			</td>
			<td>
				<p>“The talons of the eagle”</p>
			</td>
			<td>
				<p>Strength, bravery, and power.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_054.png" />
			</td>
			<td>
				<p>ONYANKOPON ADOM NTI BIRIBIARA BEYE YIE</p>
			</td>
			<td>
				<p>“By God's grace, all will be well”</p>
			</td>
			<td>
				<p>Hope, providence, and faith.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_055.png" />
			</td>
			<td>
				<p>OSRAM NE NSOROMMA</p>
			</td>
			<td>
				<p>“The Moon and the Star”</p>
			</td>
			<td>
				<p>Love, faithfulness, and harmony.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img width="136" height="64" class="img-fluid rounded" alt="" src="./resources/symbols/Image_056.png" />
			</td>
			<td>
				<p>OWO FORO ADOBE</p>
			</td>
			<td>
				<p>“Snake climbing the raffia tree”</p>
			</td>
			<td>
				<p>Steadfastness, prudence, and diligence.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_057.png" />
			</td>
			<td>
				<p>OWUO ATWEDEE</p>
			</td>
			<td>
				<p>“The ladder of death”</p>
			</td>
			<td>
				<p>Mortality</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_058.png" />
			</td>
			<td>
				<p>PEMPAMSIE</p>
			</td>
			<td>
				<p>“Sew in readiness”</p>
			</td>
			<td>
				<p>Readiness, steadfastness, and hardiness.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_059.png" />
			</td>
			<td>
				<p>SESA WO SUBAN</p>
			</td>
			<td>
				<p>“Change or transform your character”</p>
			</td>
			<td>
				<p>Life transformation</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_060.png" />
			</td>
			<td>
				<p>TAMFO BEBRE</p>
			</td>
			<td>
				<p>“The enemy will stew in his own juice”</p>
			</td>
			<td>
				<p>Jealousy and envy</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_061.png" />
			</td>
			<td>
				<p>WAWA ABA</p>
			</td>
			<td>
				<p>“Seed of the wawa tree”</p>
			</td>
			<td>
				<p>Hardiness, toughness, and perseverance.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_062.png" />
			</td>
			<td>
				<p>WOFORO DUA PA A</p>
			</td>
			<td>
				<p>“When you climb a good tree”</p>
			</td>
			<td>
				<p>Support, cooperation, and encouragement.</p>
			</td>
		</tr>
		<tr>
			<td>
				<img class="img-fluid rounded" alt="" src="./resources/symbols/Image_063.png" />
			</td>
			<td>
				<p>WI BSA DA MU A</p>
			</td>
			<td>
				<p>“If your hands are in the dish”</p>
			</td>
			<td>
				<p>Participatory government, democracy, and pluralism.</p>
			</td>
		</tr>
	</tbody>
</table>
