<h1>Computational Thinking with Adinkra</h1>
<p>
	To download a full pdf handout for high school teachers,
	<a href="resources/Computational_Thinking_with_Adinkra_for_HS_teachers.pdf">click here</a>.
</p>

<h2>How Does the Circle Block Work?</h2>

<p>
	Right-click "edit" on the circle block and you can see how it works. You can use this knowledge to create your own
	custom block shapes.
</p>
<div class="row">
	<div class="col-5">
		<img src="./img/circleblock.png" alt="" class="img-fluid" />
	</div>

	<div class="col-11">
		<img src="./img/circlescriptcomments.jpg" alt="" class="img-fluid" />
	</div>
</div>

<h2>How Does the Log Spiral Block Work?</h2>

<p>
	Right-click "edit" on the log spiral block and you can see how it works. You can use this knowledge to create your own
	custom block shapes.
</p>

<div class="row">
	<div class="col-12">
		<img src="./img/howdoesthelogspiralwork.png" alt="" class="img-fluid" />
	</div>
</div>
<br />

<h2>How Does the Line Block Work?</h2>

<p>
	Right-click "edit" on the line block and you can see how it works. You can use this knowledge to create your own
	custom block shapes.
</p>
<div class="row">
	<div class="col-11"><img src="./img/linescriptcomments.jpg" alt="" class="img-fluid" /><br /></div>
</div>
