<h1 class="sub">CSDTs Unplugged</h1>
<p class="subheader">How to make and use your own blocks for CSDTs Unplugged</p>

<hr />
<h3>How to make your own blocks:</h3>
<hr />

<p>
	<strong>Step 1:</strong> Print out an
	<a href="resources/CSnap_Unplugged_printout_for_blocks.pdf">image of the blocks.</a>
</p>
<div class="row">
	<div class="col-md-6">
		<img class="img-fluid" alt="" src="./img/unpluggedpages.jpg" />
	</div>
</div>

<p><strong>Step 2:</strong> Cut out the paper image of each block with scissors.</p>
<div class="row">
	<div class="col-md-6"><img class="img-fluid rounded" alt="" src="./img/unpluggedscissors.jpg" /></div>
</div>

<p>
	<strong>Step 3:</strong> Cut blocks from plastic, or wood, or old extension cord--whatever is available. We found this
	square plastic pipe for electrical wiring in Kumasi: only 2 cedis for 10 feet! Cut lengths to match your paper blocks.
	Here we used a hacksaw with the pipe clamped in a vise. You can use flat paper strips but they are hard to hold and
	they slide around too much.
</p>
<div class="row">
	<div class="col-md-6"><img class="img-fluid rounded" alt="" src="./img/unpluggedblockcut.jpg" /></div>
</div>

<p><strong>Step 4:</strong> Wrap clear postal tape around each block. Now you are ready to use CSDTs Unplugged.</p>
<div class="row">
	<div class="col-md-6"><img class="img-fluid rounded" alt="" src="./img/unpluggedtape.jpg" /></div>
</div>

<br />
<hr />
<h3>How to use CSDTs Unplugged for Adinkra Computing:</h3>
<hr />

<p>
	<strong>Step 1:</strong> Demo <a href="/applications/103/run">adinkra computing</a> using a computer or projector.
</p>
<div class="row">
	<div class="col-md-6"><img class="img-fluid rounded" alt="" src="./img/upluggeddemo.jpg" /></div>
</div>

<p>
	<strong>Step 2:</strong> Show how to lay out the blocks in panels, and provide whiteboard pens for writing in numbers.
</p>
<div class="row">
	<div class="col-md-6"><img class="img-fluid rounded" alt="" src="./img/unpluggedsample.jpg" /></div>
</div>

<p><strong>Step 3:</strong> Challenge participants to create their own scripts using the "unplugged" blocks.</p>
<div class="row">
	<div class="col-md-6"><img class="img-fluid rounded" alt="" src="./img/unpluggedteachers.jpg" /></div>
</div>

<p>
	<strong>Step 4:</strong> Using small stamps and paper, check to see if someone else can create the patten using your
	script. As a final check, you can try it on a computer to see if it agrees. In this way a class with only one computer
	can support programming activities for many students.
</p>
<div class="row">
	<div class="col-md-6"><img class="img-fluid rounded" alt="" src="./img/unpluggedstamps.jpg" /></div>
</div>
