<h1>Making Adinkra Stamps from Foam Cutouts</h1>

<p><strong>Step 1: </strong>Create a symbol such as <a href="/applications/103/run">adinkrahene.</a></p>

<p>
	<strong>Step 2: </strong>Copy the image. The easiest way to do that is to right-click on the stage, and select "pic".
	That will open up the stage image alone in a browser tab. Then you right-click on that to save to your hard drive. You
	can hide the carver's hand using your script, or use an image editor like "paint" to crop out just the stamp.
</p>

<p><strong>Step 3: </strong>Print out the image and cut it to create a template.</p>
<div class="row">
	<div class="col-md-6"><img class="rounded img-fluid" alt="" src="./img/cutting.png" /></div>
</div>

<p><strong>Step 4: </strong>Glue the paper template to foam and now cut the foam to match.</p>
<div class="row">
	<div class="col-md-6"><img class="rounded img-fluid" alt="" src="./img/cutfoam.png" /></div>
</div>

<p><strong>Step 5: </strong>Glue the foam to cardboard and add a handle on the back.</p>
<div class="row">
	<div class="col-md-6"><img class="rounded img-fluid" alt="" src="./img/cardboard.png" /></div>
</div>

<p><strong>Step 6: </strong>Coat the stamp with fabric paint and stamp your design.</p>
<div class="row">
	<div class="col-md-6"><img class="rounded img-fluid" alt="" src="./img/shirt.png" /></div>
</div>
