<h1>Evaluations of Adinkra Computing in the Classroom</h1>
<p>
	In 2014 we worked with a middle school in Kumasi, Ghana to conduct a controlled study. We randomly assigned students
	to one of two groups. The intervention group used the Adinkra Computing software to reinforce the mathematics lesson
	based on the Adinkra symbols. The control group had similar lessons but without any cultural content, using the
	GeoGebra software to draw abstract shapes. Both groups began with a pretest and ended with a post test. The pretest
	and posttests formed the independent samples for a t-test. The results showed a significant advantage for the scores
	for the Adinkra computing based lesson (M = 45.22, SD = 18.67) in comparison to the GeoGebra computing based lesson (M
	= 13.87, SD = 15.93); the difference was statistically significant at the .001 confidence level. Another striking
	difference was that students in the intervention group asked if they could stay after school and continue working on
	their designs.
</p>

<p>
	Current Adinkra pre/posttest, updated 5/25/2016:
	<a href="resources/adinkraevalfinal.pdf" target="_blank">Adinkra Evaluation</a>
</p>

<p>
	You can read about this adinkra computing evaluation in detail here:
	<a href="./resources/adinkra_mathematics.pdf">
		Adinkra Mathematics: A Study of Ethnocomputing in Ghana<sup>[1]</sup>
	</a>
</p>

<p>
	Similar results were obtained in the US with students using the African Fractals software in this
	<a href="./resources/Fractal_Simulations_of_African_Design_in_Pre-Colle.pdf">this evaluation<sup>[2]</sup> </a>
</p>
<hr />

<p class="figure-caption mb-0">
	[1] Retrieved from: http://hipatiapress.com/hpjournals/index.php/remie/article/view/1399/1212
</p>
<p class="figure-caption">
	[2] Retrieved from:
	https://www.researchgate.net/publication/220094488_Fractal_Simulations_of_African_Design_in_Pre-College_Computing_Education
</p>
