<h1>Casting Adinkra in Pewter</h1>

<div class="row">
	<div class="col-md-6">
		<p>
			3D printing is not only useful for making plastic models. With mold-making, we can physically render those exact
			same shapes in a whole host of new materials such as wax, resin, or metal.
		</p>
		<p>
			Pewter, a tin-antimony alloy, is a popular choice for making metals casts, and is frequently used as a material
			for making jewelry, tokens, and sculptures. Its relatively low melting point allows it to be cast more easily than
			other metals and makes it possible to clean up the final product using hand tools.
		</p>
	</div>

	<div class="col-md-6">
		<img class="img-fluid rounded" alt="" src="./img/pour.jpg" />
	</div>
</div>
<p><a href="./resources/MetalCasting.pdf">Click here for a more detailed breakdown on casting Adinkra in pewter.</a></p>

<p><strong>Step 1: Gather Materials</strong></p>

<p>Molding</p>
<ul>
	<li>3D-Printed Adinkra Shapes</li>
	<li>Alumilite Amazing Mold Putty</li>
</ul>

<p>Casting</p>
<ul>
	<li>Lead-free Pewter (98% tin, 2% antimony)</li>

	<li>Casting Furnace</li>
	<li>Casting Ladle</li>
	<li>Baking Tray</li>
	<li>Grilling Tongs</li>
	<li>Particle Board or Plywood</li>
	<li>Metal Files</li>
</ul>
<p>Safety Equipment</p>
<ul>
	<li>Heat-Resitant Furnace/Welding Gloves</li>
	<li>Leather Apron</li>
	<li>Face Shield</li>
	<li>Safety Glasses</li>
</ul>

<p>
	The casting furnace used in the making of this guide is the Do-It Molds Hot Pot-2, which is a portable option with a
	handle and spout for pouring metal directly from the unit. However, other casting furnaces remain stationary on the
	table and allow you to scoop out the metal with a specialized scoop called a casting ladle. The ladle can also be used
	with the Hot Pot for smaller precise pours.
</p>

<p class="mt-5"><strong>Step 2: Create Your Adinkra Shape</strong></p>

<p>
	Head to the <a href="./software.html">software</a> and create your Adinkra. We reccomend using the
	<a href="/applications/103/run">Carving Adinkra tool</a> for pewter casts.
</p>

<p>
	<strong>Tip:</strong> Make sure that your Pen Size is set to a relatively high value so your cast isn't capable of
	bending easily.
</p>
<div class="row">
	<div class="col-md-4">
		<img class="img-fluid rounded" alt="" src="./img/wawaPen.png" />
	</div>
</div>

<p class="mt-5"><strong>Step 3: 3D Print your Design</strong></p>

<p>
	Once you are finished with your design, you are ready to 3D print it! <a href="./teaching-3d.html">Click here</a> to
	see how to do this.
</p>

<p class="mt-5"><strong>Step 4: Create the Mold</strong></p>

<p>
	Set up your mold, following your putty's instructions. Once that begins to harden, place your 3D Adinkra print into
	the mold. Leave the print in the mold, allowing it to cure for 20 minutes or putty reaches the consistency of hard
	rubber. Once that is finished, take out the 3D print.
</p>

<p class="mt-5"><strong>Step 5: Prepping the Pewter</strong></p>
<p>
	Start up your casting furnace and allow it to heat up. With a gloved hand, place a pewter ingot in the center of the
	bowl and allow it to melt.
</p>

<p class="mt-5"><strong>Step 5: Casting</strong></p>

<p>
	With the pewter melted, go ahead and pour the pewter into your mold, keeping in mind all the safety procedures on this
	page and in the PDF. Once you are finished pouring, allow it to harden completely. When it has cooled, go ahead and
	take it out of the mold. You can now clean it up with a metal file or other tools at your disposal. Congrats, you
	casted your Adinkra in pewter!
</p>

<div class="row">
	<div class="col-md-4">
		<img class="img-fluid rounded" alt="" src="./img/star_flip.jpg" />
	</div>
</div>

<h2>Setup and Safety</h2>

<p>
	Before beginning to cast, be sure to pick a suitable location and set up your space with consideration to your
	surroundings. Choose an open or well-ventilated area and provide adequate protection for any nearby surfaces. It's
	recommended that you provide a thick, flat piece of particle board or plywood to protect your table, if necessary.
	Additionally, be especially careful to secure power cords attached to your casting furnace that could be tugged or
	tripped over, as this could create a sizable safety hazard if hot metal splashes out of the pot. Ensure flammable
	materials are kept well away from the work area.
</p>

<p>
	Use extreme caution when heating and working with molten metal. Exposure to high-temperature materials in this
	activity carries with it significant risk of harm and/or damage to clothing and personal property if not handled with
	care. Those performing the pewter casting should be provided adequate protection for their personal safety, including
	a face shield, safety glasses, a leather apron, and heat-resistant gloves. Long sleeves, long pants, and closed-toed
	shoes are also highly recommended.
</p>

<p>
	Onlookers should be standing a safe distance away and wearing appropriate clothing. In the case of spillage, synthetic
	fibers may melt on contact with molten metal and adhere to skin. Make sure all the components are dry as excess water
	hat comes into contact with hot surfaces could produce steam, causing molten pewter to splash uncontrollably.
</p>

<p>Make sure that your molds are completely dry! Any water will cause the pewter to bubble up, causing splashing.</p>
