<h1>Making Adinkra Stamps with a 3D Printer</h1>

<h2 class="sub">Create your design</h2>
<p class="subheader">
	Create a symbol such as <a href="/applications/103/run">Adinkrahene</a>.
	<strong>Make sure to save your design to the cloud!</strong>
</p>

<div class="row">
	<div class="col-md-6">
		<img
			class="img-fluid rounded"
			alt=""
			src="./img/adinkrahenesim.png"
			style="aspect-ratio: 1.618; object-fit: cover" />
	</div>
</div>
<h2 class="sub">Prepping for 3D printing</h2>
<p class="subheader">
	<strong>Save before doing this!</strong>. You can hide the carver's hand using your script before you save using the
	'Hide Block'. You can also do the same to the goal / instruction sprites or you can just delete them.
	<em>If you accidentally delete your script, you can retrieve it from the trash.</em> Finally, make sure that your
	contrast is high enough. Use dark pen colors to ensure the best results.
</p>

<div class="row">
	<div class="col-md-4">
		<img class="img-fluid rounded" alt="" src="./img/step2aSTL.png" style="aspect-ratio: 1.618; object-fit: cover" />
	</div>
	<div class="col-md-4">
		<img class="img-fluid rounded" alt="" src="./img/step2bSTL.png" style="aspect-ratio: 1.618; object-fit: cover" />
	</div>
	<div class="col-md-4">
		<img class="img-fluid rounded" alt="" src="./img/step2cSTL.png" style="aspect-ratio: 1.618; object-fit: cover" />
	</div>
</div>

<h2 class="sub">Converting to STL</h2>
<p class="subheader">
	Once you have made your modifications, right click the stage. You will then see two options: STL and Advanced STL.
	Both will convert your design into a STL, which is a filetype that 3D printers can understand. The second option will
	allow you to specify a variety of different attributes for your STL. Once you select your option, it will then convert
	and download your file. <em>Note that this can take a minute or two, so please be patient.</em>
</p>
<div class="row">
	<div class="col-md-6">
		<img class="img-fluid rounded" alt="" src="./img/step3STL.png" style="aspect-ratio: 1.618; object-fit: cover" />
	</div>
	<div class="col-md-6">
		<img class="img-fluid rounded" alt="" src="./img/step4STL.png" style="aspect-ratio: 1.618; object-fit: cover" />
	</div>
</div>

<h2 class="sub">Printing your STL</h2>
<p class="subheader">
	Now that you have your design in a printable format, you can now import it into your 3D printer's software. Not sure
	what software to use? A great open source option to use would be
	<a href="https://ultimaker.com/software/ultimaker-cura"> Cura by Ultimaker</a>. For additional information on how to
	print your design, check out <a href="./resources/Printing_3D_Models_with_CSDTs.pdf">this PDF</a>.
</p>
<div class="row">
	<div class="col-md-6">
		<img class="img-fluid rounded" alt="" src="./img/3dprinter.png" style="aspect-ratio: 1.618; object-fit: cover" />
	</div>
</div>

<h2 class="sub">Using your 3D printed stamp</h2>
<p class="subheader">
	Once you have printed out your stamp, you can then put a handle on your stamp, ink it and apply it to shirts, hats or
	other cloth, as shown below.
</p>
<div class="row">
	<div class="col-md-6">
		<img class="img-fluid rounded" alt="" src="./img/plasticstamp.png" style="aspect-ratio: 1.618; object-fit: cover" />
	</div>
	<div class="col-md-6">
		<img class="img-fluid rounded" alt="" src="./img/3dstamps.jpg" style="aspect-ratio: 1.618; object-fit: cover" />
	</div>
</div>
