<h1 class="sub">Adinkra Tutorials</h1>
<p class="subheader">Learn how to create Adinkra symbols and patterns</p>

<div class="row">
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/static/tutorials/index.html?name=adinkra-mpuannum">
				<img src="./img/mpuannum.png" class="img-fluid tut-img" alt="..." />
			</a>
			<div class="ts-section">
				<div class="ts-header">Mpuannum</div>
				<p>This is the hair style of the priests and represents loyalty.</p>
			</div>
			<div class="ts-section">
				<a class="big-link" href="/static/tutorials/index.html?name=adinkra-mpuannum">
					Go to the Tutorial&nbsp;<i class="fas fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/static/tutorials/index.html?name=adinkra-sepow">
				<img src="./img/sepow.png" class="img-fluid tut-img" alt="..." />
			</a>
			<div class="ts-section">
				<div class="ts-header">Sepow</div>
				<p>This symbol symbolizes justice.</p>
			</div>
			<div class="ts-section tutorial-link">
				<a class="big-link" href="/static/tutorials/index.html?name=adinkra-sepow">
					Go to the Tutorial&nbsp;<i class="fas fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/static/tutorials/index.html?name=adinkra-ananse">
				<img src="./img/ananse_ntontan.png" class="img-fluid tut-img" alt="..." />
			</a>
			<div class="ts-section">
				<div class="ts-header">Ananse Ntontan</div>
				<p>Ananse is the clever spider, and his web is Ntontan.</p>
			</div>
			<div class="ts-section">
				<a class="big-link" href="/static/tutorials/index.html?name=adinkra-ananse">
					Go to the Tutorial&nbsp;<i class="fas fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/static/tutorials/index.html?name=adinkra-akoma">
				<img src="./img/akoma.png" class="img-fluid tut-img" alt="..." />
			</a>
			<div class="ts-section">
				<div class="ts-header">Akoma</div>
				<p>Known as the heart, this symbol means tolerance and love.</p>
			</div>
			<div class="ts-section">
				<a class="big-link" href="/static/tutorials/index.html?name=adinkra-akoma">
					Go to the Tutorial&nbsp;<i class="fas fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- 
<div class="row mt-3">
	<div class="col-lg-3 col-md-6 mt-3">
		<div class="ts-card">
			<a href="/static/tutorials/index.html?name=adinkra-stamping.html">
				<img src="./img/polarstamping.png" class="img-fluid tut-img" alt="..." />
			</a>
			<div class="ts-section">
				<div class="ts-header">Polar Stamping</div>
				<p>Inspired by the Anishinaabe.</p>
			</div>
			<div class="ts-section">
				<a class="big-link" href="/static/tutorials/index.html?name=adinkra-stamping.html">
					Go to the Tutorial&nbsp;<i class="fas fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div> -->
