.transition,
.transition:hover,
.transition:focus {

  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

html, body {
  position: relative;
  height: 100%;
  background-color: #e5e9ec;
}
nav.navbar-fixed-top {
  background-color: #FFF;
  border: none;
}

nav .top-left-menu {
  background-color: #252830;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.navbar-toggle {
  border-color: #252830;
  background-color: #e5e9ec;
  margin-top: 13px
}

.navbar-toggle .icon-bar {
  background-color: #252830;
}
.navbar-header{
	  background-color: #252830;
}
.navbar {
    background-color: black;
}

.navbar-brand {
  height: auto;
}
h3 {
    text-align: center;
    margin: 30px 0;
}

.card-text {
    padding: .1rem;
}
.card-img-top{
    width: 100%;
    height: auto;
    align-content: center;
    padding: 2rem;
}
.navbar-brand h1 {
  margin: 0;
  font-size: 1.25em;
  font-weight: 300;
  color: #FFF;
}
nav.navbar.navbar-inverse.navbar-fixed-top{
	  background-color: #252830;

}

nav form#search {
  float: right;
  padding: 0.5em;
  padding-right: 2em;
}

nav form#search .glyphicon-search {
    z-index: 99;
    position: absolute;
    right: 0.7em;
    top: 50%;
    margin-top: -0.44em;
}

nav form#search .input-group .form-control {
    border-radius: 0.25em;
}
body {
  background: lightgray;
  background-size: cover;
}
card-block img.card-img {
  top: 50%;
  margin-top: -36px;
  width: 72px;
  float: left;
  position: relative;
  z-index: 99;
}
.card-block .card-title {
  float: left;
  margin: 0;
  margin-left: 0.5em;
}

.card-block .card-title small {
  display: block;
}

.card-block .card-text {
  clear: both;
  padding-top: 0.25em;
  margin-bottom: 1.5em;
}
.card-block ul a:hover {
  text-decoration: none;
}

.tiles {
    background-color: lightgray;
}
.content-wrap {
  padding-top: 61px;
  width: 100%;
  background-color: lightgray;
}
.page-header {
  border-bottom: 2px solid #444;
  padding: 0 15px;
  background-color: lightgray;
}
a.no-underline{
    text-decoration: none;
    color: black;
    padding: 1em;
}
application .h3{
    text-align: center;
}


.thumbnail {
  opacity: .75;
  cursor: pointer;
}
.thumbnail:hover {
  opacity: 1;
}


.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.well {
    background-color: #FFF;
      border: 3px solid #FFF;
    border-radius: 0.4rem;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#side-menu {
  background-color: #1b1e24;
  padding-top: 7.2rem;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
}

#side-menu .profile-block > * {
  display: inline-block;
}

#side-menu .profile-block img {
  width: 70px;
}

#side-menu .profile-title {
  color: #FFF;
  margin-left: 1rem;
  font-size: 1.25em;
  vertical-align: middle;
}

#side-menu .profile-title small {
  display: block;
}

#side-menu ul.nav {
  margin-top: 1rem;
}

#side-menu ul.nav a {
  color: #8b91a0;
}

#side-menu ul.nav a:hover,
#side-menu ul.nav a:focus {
  color: #FFF;
  background-color: inherit;
}

#side-menu ul.nav a .glyphicon {
  margin-right: 0.7rem;
}

#side-menu ul.nav a .glyphicon.pull-right {
  margin-top: 0.2rem;
}

#side-menu ul.nav a .badge {
  background-color: #1ca095;
}

#side-menu ul.nav .nav-divider {
  background-color: #252830;
}

#side-menu ul.nav ul {
  margin-left: 10%;
}

#side-menu ul.nav ul a {
  display: block;
  background-color: #2b303b;
  padding: 1rem;
  margin-bottom: 0.3rem;
  border-radius: 0.25em;
}

#side-menu ul.nav ul a:hover {
  text-decoration: none;
  background-color: #434857;
}
#side-menu ul.nav a:focus .glyphicon.pull-right {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#side-menu ul.nav a .glyphicon.pull-right {
  margin-top: 0.2rem;
  will-change: transform;
}
#main {
  padding-top: 7.2rem;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
}



#side-menu ul.nav ul a.selected {
  background-color: #aaa;
  color: white;
}
