<h1>
    Antecedentes 2
</h1>

<h2>Diseños Algorítmicos</h2>

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid rounded" src="img/correatrasera.png" />
    </div>
    <div class="col-md-9">
        <p>
            Aquí podemos observar a una mujer tejiendo un rebozo de seda en un telar de cintura en el Taller Escuela
            de Rebocería en Santa María del Rio, San Luis Potosí, México. Cuando ella se inclina hacia adelante, los
            hilos que van en dirección vertical se aflojan. Esto le permite girar la tabla plana (“batan”) y así
            crear un espacio donde se pueda mover el carrete (“lanzadera”) en dirección horizontal.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <img class="img-fluid rounded" src="img/silkrebozo.jpg" />
    </div>
    <div class="col-md-9">
        <p>Esto significa que, a diferencia del trabajo con cuentas en el que las cuentas se sitúan en las
            intersecciones del plano Cartesiano, las puntadas del tejido se alternan cada segundo espacio. Podemos
            decir que están 180 grados fuera de fase, si pensamos en cada fila como si fuera una onda.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/weavingcode_es.PNG" />
    </div>
    <div class="col-md-8">
        <p>Podemos recordar que en nuestros algoritmos de trabajo con cuentas, podíamos simplemente “estampar” la
            imagen de la cuenta. Para simular el tejido del telar, tuvimos que hacer un nuevo bloque llamado “shift
            and stamp”, el cual toma en cuenta el desfase de los patrones tejidos.</p>
    </div>
</div>