<h1>
    Background 2
</h1>

<h2>Algorithmic Designs</h2>

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid rounded" src="img/correatrasera.png" />
    </div>
    <div class="col-md-9">
        <p>
            This woman is weaving a silk rebozo on a backstrap loom at the Taller Escuela de Rebocería in Santa Maria
            del Rio, San Luis Potosi, Mexico. When she leans forward, the vertical threads are loosened. That allows
            her to rotate the flat board (“batan”) and create a gap where the horizontal thread spool (“lanzadera”)
            can be moved across.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3 ">
        <img class="img-fluid rounded" src="img/silkrebozo.jpg" />
    </div>
    <div class="col-md-9">
        <p>
            This means that unlike the beads, which sit on the Cartesian grid intersections, the weave stitches
            alternate every other space. We can say they are 180 degrees out of phase, if we think of each row as a
            waveform.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/repeatcode_en.png" />
    </div>
    <div class="col-md-8">
        <p>
            You might recall that in your bead algorithms, we could simply “stamp” the bead image. To simulate loom
            weaving, we had to make a new code block we call “shift and stamp” to take into account the out of phase
            patterns.
        </p>
    </div>
</div>