<h1>
    Beadwork Statistics
</h1>

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid rounded" src="img/labyrinthvase.png" />
    </div>
    <div class="col-md-3">
        <img class="img-fluid rounded" src="img/labyrinthface.png" />
    </div>
    <div class="col-md-6">
        <p>Just as heaven’s order is reflected by images such as Cartesian designs in the beadloom, the tangle of
            earth’s living disorder is sometimes given visual representation using random or nonlinear designs. A
            labyrinth of unpredictably branching forms can be seen in tunnels below Mayan temples, and in stories
            such as Octavio Paz’s Labyrinth of Solitude. At left you can see labyrinth motifs in the face painting
            of the Shipibo people of Peru, Brazil and Bolivia.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/mayanlabyrinth.png" />
    </div>
    <div class="col-md-8">
        <p>These “disorder designs” sometimes make an appearance in beadwork, although that is more rare than the
            geometric variety. In the Mayan design at left, labyrinth-like branching frames random variations of
            color. Here the color variation is subtle-- from dark blue to light blue-- but artists can control the
            range of variation to suit their own tastes or those of their customers, as we see in this Mayan beaded
            purse:</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/guatemalanpurse.png" />
    </div>
</div>