
<div class="section-header">
Beadwork
</div>




<div class="row">

    <div class="col-md-8">
        <div class="below-text">
    Mesoamerican cosmology as summarized by Dr. Cecilia Kline in her essay “Woven Heaven, Tangled Earth.” Image © 1981 Henry Klein, by permission. 
            </div>

    </div>

    <div class="col-md-4">
        <div class="below-text">
    	<img width="100%" class="img-responsive"  src="img/tangledearth.png" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="below-text">
    	    <img width="100%" class="img-responsive"  src="img/wovenheaven.png" />
    	</div>
    </div>
    <div class="col-md-8">
        <div class="below-text">
        <p>The beadwork of Latin America offers an easy introduction to several of their mathematical design traditions, especially the symbolism of four-fold symmetry. Professor Cecilia Kline of UCLA has summarized the view of Mayan, Aztec and other  ancient Mesoamerican groups as “Woven Heaven, Tangled Earth.” In this cosmology, “high gods” and their human followers impose order on the world, symbolized by the rows and columns of the loom.  Lower gods such as “tricksters” create the entanglement we think of today as ecosystems and evolution.</p>
        <p>The order from above makes sense if we think about the Cartesian layout of latin American Indigenous constructions: Take for example the traditional Indigenous house, with a “woven” roof overhead. Not only weaving cloth but also sleeping mats, fish traps, baskets, and many other traditional artifacts had this structure.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="below-text">
        <p>Traditional Quechuan design showing Cartesian structure with two axes of symmetry.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="below-text">
            <img width="100%" class="img-responsive"  src="img/quechuandesign.png" />
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-4">
        <div class="below-text">
            <img width="100%" class="img-responsive"  src="img/huichol.png" />
            <p>Huichol beadwork in Mexico city. Photo by Alejandro Linares Garcia.</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="below-text">
        <p>So it is no surprise to see that beadwork designs which emphasize four-fold symmetry--two orthogonal axes--are common in these cultures.</p>
        <p>In addition to the Cartesian grid, Indigenous beadworkers developed their own concept of algorithms: the sequence of instructions that produce bead patterns. The software in this unit will allow you to experiment with re-discovering these heritage algorithms, and inventing your own.</p>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-8">
        <div class="below-text">
        <p>That explains the woven heaven. But what of the tangled earth? The trickster gods, usually represented by animals like the coyote (Mexico) or the guinea pig (Ecuador), are constantly disrupting order with unpredictable surprises. They represent the idea that life’s unpredictability can only be survived by an equally diverse repertoire of responses. The idea may have co-evolved with the ways the people of the Indigenous Americas emphasized diversity in their crops. If nature throws a flood one year and a drought the next, only broad genetic diversity in crops can help you survive. When Europeans arrived they were astounded to find a genetic treasure trove: corn, potato, tomato, bell pepper, chili pepper, vanilla, tobacco, beans, pumpkin, cassava root, avocado, peanut, pecan , cashew, pineapple, blueberry, sunflower, chocolate, and other plants they did not even know the existence of, many bred for centuries to maximize variety. The European concept of a single, perfect, omnipotent God may have inspired useful concepts like optimization--find the one best type of oats--but in the long run that diminished their crop varieties.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="below-text">
            <img width="100%" class="img-responsive"  src="img/indiancorn.png" />
            <p>Huichol beadwork in Mexico city. Photo by Alejandro Linares Garcia.</p>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <div class="below-text">
            <img width="100%" class="img-responsive"  src="img/labyrinthvase.png" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="below-text">
            <img width="100%" class="img-responsive"  src="img/mayanlabyrinth.png" />
            <p>Huichol beadwork in Mexico city. Photo by Alejandro Linares Garcia.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="below-text">
        <p>Just as heaven’s order is reflected by images such as  Cartesian designs in the beadloom, the tangle of earth’s living disorder is sometimes given visual representation using random or nonlinear designs.  A labyrinth of unpredictably branching forms can be seen in tunnels below Mayan temples, in stories such as Octavio Paz’ Labyrinth of Solitude, and in visual designs such as South American pottery, tattoos, and  molas. These too sometimes make an appearance in beadwork, although that is more rare than the geometric variety. In the Myan design above, labyrinth-like branching frames random variation of colors. Here the color variation is subtle, but artists can control the range of variation to suit their own tastes or those of their customers, as we see in this Mayan beaded purse:</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="below-text">
            <img width="100%" class="img-responsive"  src="img/guatemalanpurse.png" />
            <p>Guatemalan beaded purse. Image courtesy of Sandi Escalle.</p>
        </div>
    </div>
</div>