<h1>
    Beadwork Heritage Algorithm
</h1>

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/quechuandesign.png" />
    </div>
    <div class="col-md-8">
        <p>Given the “woven heavens” tradition, it is no surprise to see that colored beadwork designs which
            emphasize four-fold symmetry-- two orthogonal axes-- are common in these cultures. At left for example
            we see a traditional Quechuan design showing Cartesian structure with two axes of symmetry; each
            quadrant with a different color. In other words, the Indigenous People of Latin America had invented the
            Cartesian system long before Rene Descartes was born. It is not “European math” brought by colonialism,
            but Indigenous math that can be easily “translated” into the modern classroom.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/huichol.png" />
    </div>
    <div class="col-md-8">
        <p>In addition to the Cartesian grid, Indigenous beadworkers developed their own concept of algorithms: the
            sequence of instructions that produce bead patterns. Left, you can see Huichol beadwork hanging in a
            shop in Mexico City. The software in this unit will allow you to experiment with re-discovering these
            heritage algorithms as well as inventing your own.</p>
    </div>
</div>