<h1>
    Trabajo con cuentas: Estadística
</h1>

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid rounded" src="img/labyrinthvase.png" />
    </div>
    <div class="col-md-3">
        <img class="img-fluid rounded" src="img/labyrinthface.png" />
    </div>
    <div class="col-md-6">
        <p>Justo como el orden del cielo se ve reflejado en imágenes tales como los diseños Cartesianos del telar de
            cuentas, en ocasiones, el enredo de la vida en la tierra es representado visualmente al utilizar diseños
            aleatorios o no lineales. Se pueden observar un laberintos de figuras que se ramifican de manera
            impredecible en los túneles debajo de los templos Mayas, en historias como El Laberinto de la Soledad de
            Octavio Paz y en diseños visuales como la cerámica, pintura facial y molas de Sudamérica.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/mayanlabyrinth.png" />
    </div>
    <div class="col-md-8">
        <p>Estos “diseños estadísticos” aparecen algunas veces en el trabajo con cuentas, aunque son menos comunes
            que los diseños geométricos. En el diseño Maya que está a la izquierda, se muestran figuras que se
            ramifican como laberintos, que además tienen una variación de colores aleatoria. En el ejemplo anterior,
            la variación es sutil — de azul obscuro a azul claro — pero los artistas pueden controlar el rango de
            variación de acuerdo al gusto propio o el de sus clientes, como se muestra en esta bolsa de cuentas
            Maya.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/guatemalanpurse.png" />
    </div>
</div>