<h1>Retos 1</h1>
<h2>Retos Algorítmicos</h2>
<div class="row">
	<div class="col-md-3">
		<img class="img-fluid rounded" src="img/cosmogram.jpg" />
	</div>
	<div class="col-md-9">
		<p>
			El símbolo maya que representa al universo es el "cosmograma". La figura del diamante en el centro representa al
			sol.
		</p>
		<p><a href="/projects/5227/run">Abrir aplicación</a></p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<img class="img-fluid rounded" src="img/quechuandesign.png" />
	</div>
	<div class="col-md-9">
		<p>
			Esta cruz de 12 esquinas aparece en algunos diseños prehispánicos Incas, aunque no se conoce su significado
			simbólico exacto. Si se supone que la figura blanca es un círculo, este debe verse más redondeado a medida que se
			incrementa el tamaño del diseño. El reto es intentar calcular la colocación de las cuentas para una versión de
			este diseño mayor tamaño.
		</p>
		<p><a href="/projects/2179/run">Abrir aplicación</a></p>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<img class="img-fluid rounded" src="img/macaws.png" />
	</div>
	<div class="col-md-10">
		<p>
			Estas cuentas azules crean un ángulo muy empinado. Este diseño del pueblo Embera Chamí en Colombia muestra las
			colas de dos guacamayas. ¿Cuál es la pendiente? ¿Cómo se compara esta con la pendiente del cosmograma Maya? ¿Por
			qué podría ser más común el ángulo del cosmograma Maya(desde un punto de vista matemático)?
		</p>
		<p><a href="/projects/2752/run">Abrir aplicación</a></p>
		<p><a href="/projects/5274/run">Abrir aplicación (versión sin "loops")</a></p>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<img class="img-fluid rounded" src="img/birds.png" />
	</div>
	<div class="col-md-10">
		<p></p>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<img class="img-fluid rounded" src="img/emberachami.png" />
	</div>
	<div class="col-md-10">
		<p>
			Este diseño es del pueblo colombiano Embera Chamí. Se le llama la estrella del creación a la figura azul que está
			en el centro. ¿Cómo podría recrear esta utilizando triángulos? ¿Podría formar esta otras figuras? ¿Cómo podría
			ayudar la iteración a simular estos gradientes (difuminados) de colores y sombreado?
		</p>
		<p><a href="/projects/2249/run">Abrir aplicación</a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Retos Estadísticos</h2>

		<p>
			Usted ha sido contratado por el Museo Metropolitano de Arte (abreviado como "Met") en la ciudad de Nueva York para
			determinar la autenticidad de las nuevas adquisiciones de trabajo en cuentas latinoamericano. Su trabajo es crear
			una simulación de una pieza auténtica y original, para después comparar la variación de color en la simulación a
			la variación presente en las piezas nuevamente adquiridas.
		</p>
		<ol>
			<li>
				<p>
					La primera columna de la simulación ha sido completada. El rango de colores de esta columna es bastante
					estrecho (de 0 a 20). Ahora necesitamos agregar dos o tres columnas, al igual que ampliar el rango de colores,
					para hacer un diseño más parecido a la muestra del museo. No olviden guardar su trabajo, y anotar el rango de
					colores que utilizaron.
				</p>

				<p><a href="/projects/2186/run">Abrir aplicación</a></p>
			</li>

			<li>
				Ahora que conocemos el rango de colores, podemos calcular la varianza. Cuando se tiene un conjunto de números
				consecutivos, la media es (mayor + menor)/2. Podemos estimar la varianza para el nuevo rango de colores que
				creamos utilizando la fórmula para estimar la media, en conjunto con el siguiente proyecto:

				<p><a href="/projects/2187/">Abrir aplicación</a></p>

				Este programa incluye el cálculo de la suma de cuadrados. Ahora necesitamos agregar un bloque para poder
				calcular la varianza.
				<p>Pasos para calcular la varianza de un conjunto de valores numéricos:</p>
				<ol>
					<li>Calcular la media de la muestra (utilizando la fórmula (máximo+mínimo)/2)</li>
					<li>Restar la media a cada elemento del conjunto.</li>
					<li>Elevar cada resultado al cuadrado.</li>
					<li>Encontrar la suma de los valores cuadrados.</li>
					<li>Dividir entre n-1, siendo n el número de elementos del conjunto.</li>
				</ol>
			</li>
		</ol>
	</div>
</div>
