<h1>
    Challenges 2
</h1>
<h2>Algorithmic Weaving Challenges</h2>

<div class="row">
    <div class="col-md-12">

        <p>You will find some of the same patterns we explored in beads occur in weavings, as well as new ones. For
            example there are some Mayan patterns below. Experiment with the simulation at the link below:</p>

        <p><a href="/projects/2194/run">Launch the Software!</a></p>

        <p>You can use this simulation to make designs of your own choosing or copies of traditional patterns. Can
            you create designs with special triangles such 30-60-90? Equilateral? What calculations are needed to
            create these at different sizes?</p>

    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <img class="img-fluid rounded" src="img/starofcreation.png" />

    </div>
    <div class="col-md-8">

        <p>Star of creation</p>
        <p><a href="/projects/2181/run">Launch the Software!</a></p>


    </div>
</div>
<h2>Additional designs</h2>
<div class="row">
    <div class="col-md-4">

        <img class="img-fluid rounded" src="img/cosmogram2.png" />

    </div>
    <div class="col-md-8">

        <p>Cosmogram</p>
        <p><a href="/projects/5301/run">Launch the Software!</a></p>


    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <img class="img-fluid rounded" src="img/wildturkeys.png" />

    </div>
    <div class="col-md-8">

        <p>Wild turkeys</p>
        <p><a href="/projects/2250/run">Launch the Software!</a></p>


    </div>
</div>