<h1>
	Challenges 3
</h1>

<h2>Statistical design challenges</h2>

<ol>

	<li> <strong>Shipibo random walk</strong>
		<ol type="a">
			<li>Drawing a path is done with the “pen” block. To explore where the path can
				go, the algorithm can “look ahead”. We do that by memorizing the current x and y position,
				then lifting the “pen”, and then moving forward. If it senses the color it is looking for,
				it knows to go no further. If not, it goes back to the old x and y position, lowers the pen,
				and moves to the new position.
				<p><a href="/projects/2206/run">Launch the Software!</a></p>

			</li>
			<li>Change the script by letting the hand “bounce” from the black line
				(changing direction).
			</li>
			<li>Now you are ready to simulate the Shipibo design:
				<p><a href="/projects/2207/run">Launch the Software!</a></p>


				<p>Notice that the hand gets “stuck.” Help the hand! For example you can track the number of
					times it gets stuck and use a random place to restart.</p>
			</li>
		</ol>
	</li>

	<li> <strong> Shipibo fractal curve </strong>

		<ol type="a">
			<li>Not all complexity is due to random action. Fractals are one way to create
				deterministic complexity. Fractal curves can be created by recursive line replacement, in
				which each line that composes a figure is replaced by a smaller version of the whole. Try
				experimenting with the example here:

				<p><a href="/projects/6448/run">Launch the Shipibo fractal Software!</a></p>

		</ol>
	</li>


	<li> <strong> Kuna percolation </strong>
		<ol type="a">
			<li>Percolation describes the flow of water in soil, fire in a forest, etc. It
				is a “parallel search” because the water attempts to find many different paths at the same
				time. One way to simulate that is a “back track” that recalls an earlier point and begins
				branching from there.

				<p><a href="/projects/2203/run">Launch the Software!</a></p>


		</ol>
	</li>

	<li> <strong> Endara Crow simulation </strong>
		<ol type="a">
			<li>The famous thief of magical realism has removed the lovely spheres from
				Endara Crow’s painting. Help us get them back!
				<p><a href="/projects/1892/run">Launch the Software!</a></p>
			</li>
		</ol>
	</li>
	<li> <strong> Histograms </strong>
		<ol type="a">
			<li>Let's use our beads to make a histogram so we can compare uniform and
				gaussian distribution.
				<p>Uniform distribution: <a href="/projects/2200/run">Launch the
						Software!</a></p>
				<p>Gaussian distribution: <a href="/projects/2199/run">Launch the
						Software!</a></p>


			<li>A “heat map” uses color to indicate quantity. Can you get the histogram to
				use colored beads like a heat map?</li>
		</ol>
	</li>
</ol>