<h1>
    Retos 2
</h1>
<h2>Retos Algorítmicos</h2>
<div class="row">
    <div class="col-md-12">

        <p>Usted encontrará algunos de los mismos patrones que exploramos en perlas ocurren en tejidos, así como
            nuevos. Por ejemplo, aquí hay algunos patrones mayas a continuación. Experimente con la simulación en
            <p><a href="/projects/2194/run">Software abierto!</a></a></p>
            <p>para hacer diseños de su propia elección o copias de patrones tradicionales. ¿Puede crear diseños con
                triángulos especiales como 30-60-90? ¿Equilátero? ¿Qué cálculos se necesitan para crear estos en
                diferentes tamaños?</p>

    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <img class="img-fluid rounded" src="img/starofcreation.png" />

    </div>
    <div class="col-md-8">

        <p>Estrella de la creación</p>
        <p><a href="/projects/2181/run">Software abierto!</a></a></p>

    </div>
</div>
<h2>Diseños adicionales</h2>
<div class="row">
    <div class="col-md-4">

        <img class="img-fluid rounded" src="img/cosmogram2.png" />

    </div>
    <div class="col-md-8">

        <p>Cosmograma</p>
        <p><a href="/projects/5301/run">Software abierto!</a></a></p>

    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <img class="img-fluid rounded" src="img/wildturkeys.png" />

    </div>
    <div class="col-md-8">

        <p>Pavos salvajes</p>
        <p><a href="/projects/2251/run">Software abierto!</a></a></p>

    </div>
</div>