<h1>Challenges 1</h1>

<h2>Algorithmic Challenges</h2>

<div class="row">
	<div class="col-md-3">
		<img class="img-fluid rounded" src="img/cosmogram.jpg" />
	</div>
	<div class="col-md-9">
		<p>The Mayan symbol for the universe (“cosmogram”). The central diamond shape is the sun.</p>
		<p><a href="/projects/5227/run">Launch the Software!</a></p>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<img class="img-fluid rounded" src="img/quechuandesign.png" />
	</div>
	<div class="col-md-9">
		<p>
			This twelve-cornered cross appears in some Incan designs prior to European contact, though no one knows its
			symbolic meaning. If the white figure at the center is supposed to be a circle, it should become more rounded as
			you create larger versions. See if you can you calculate the placement of the beads for a larger version of this
			design.
		</p>
		<p><a href="/projects/2195/run">Launch the Software!</a></p>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<img class="img-fluid rounded" src="img/macaws.png" />
	</div>
	<div class="col-md-10">
		<p>
			These blue beads create a very steep angle. They are the tails of two Macaws in beadwork from the the Embera Chamí
			people of Colombia. What is the slope? How does this compare to the slope of the Mayan cosmogram? Why might the
			Mayan angle be more common (from a mathematical point of view)?
		</p>
		<p><a href="/projects/2752/run">Launch the Software!</a></p>
		<p><a href="/projects/5274/run">Launch the Software! (version without loops)</a></p>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<img class="img-fluid rounded" src="img/birds.png" />
	</div>
	<div class="col-md-10">
		<p></p>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<img class="img-fluid rounded" src="img/emberachami.png" />
	</div>
	<div class="col-md-10">
		<p>
			This design is also from the Embera Chamí people in Columbia. The blue figure at center is called the star of
			creation. How could you make that from triangles? From other shapes? How can iteration help simulate such
			gradients of color or shade?
		</p>
		<p><a href="/projects/2248/run">Launch the Software!</a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Statistics Challenges</h2>

		<p>
			The Metropolitan Museum of Art in New York city has hired you to determine whether its new acquisitions of Latin
			American beadwork is authentic. Your job is to create a simulation of a known authentic original, and then compare
			the variance of color in the simulation to the new acquisitions.
		</p>
		<ol>
			<li>
				The first column of your simulation is complete. Its color range is narrow (0 to 20). You will need to add two
				or three more columns, and a wider range of colors, to make it a better match to the museum’s sample. Don't
				forget to save your work, and write down the color range you used.
				<p><a href="/projects/2201/run">Launch the Software!</a></p>
			</li>

			<li>
				Now that you know the color range, you can calculate the variance. When you have a set of consecutive integers,
				the mean is (smallest + largest)/2. You can estimate the variance for the new color range you created using the
				formula for the estimate of the mean of your random numbers, along with the following project:

				<p><a href="/projects/2202/run">Launch the Software!</a></p>
			</li>
			<li>
				<p>
					This program already calculates the sum of the squares. Add the missing block to help it calculate the
					variance.
				</p>
			</li>
			<li>
				<p>Use the following steps to calculate the variance from a set of values:</p>
				<ol>
					<li>Calculate the mean of the sample (using (smallest + largest)/2).</li>
					<li>Subtract the mean from each data point. ↓</li>
					<li>Square each result. ↓</li>
					<li>Find the sum of the squared values. ↓</li>
					<li>Divide by n - 1, where n is the number of data points.</li>
				</ol>
			</li>
		</ol>
	</div>
</div>
