<h1>Cielo Tejido, Tierra Enredada</h1>

<h2>Introducción</h2>

<div class="row">
	<div class="col-md-4">
		<img src="img/wovenheaventangledearth.png" class="img-fluid rounded" alt="" />
	</div>
</div>

<p>
	Mucho antes de la llegada de los europeos, los grupos indígenas de América Latina ya habían desarrollado diseños
	tradicionales los cuales incorporaban varios conceptos matemáticos y computacionales. A menudo, estos eran concebidos
	como pertenecientes a dos categorías:
</p>

<div class="row">
	<div class="col-sm-6">
		<p><u>"Orden desde arriba"</u></p>
		<ul class="ulmatch">
			<li>
				Simetría con dos ejes: muy similar al sistema de coordenadas en el plano Cartesiano, pero también integrando
				simbología de creencias cosmológicas.
			</li>
			<li>Algoritmos: secuencia de instrucciones que crea patrones específicos.</li>
		</ul>
	</div>
	<div class="col-sm-6">
		<p><u>"Desorden desde abajo"</u></p>
		<ul class="ulmatch">
			<li>
				Aleatoreidad: visualiza la diversidad y lo impredecible de la naturaleza, en contraste con el orden que tienen
				los patrones predecibles.
			</li>
			<li>
				Caminos Eulerianos: estos diseños comúnmente simbolizan la complejidad espacial de los laberintos y las figuras
				de naturaleza orgánica.
			</li>
		</ul>
	</div>
</div>
