<h1>
	Indigenous Knowledge Systems: Tangled Earth
</h1>
<div class="row">
	<div class="col-md-4">
		<img class="img-fluid rounded" src="img/indiancorn.png" />
	</div>
	<div class="col-md-8">
		<p>That explains the woven heaven. But what of the tangled earth? The trickster gods, usually represented by
			animals like the coyote (Mexico) or the guinea pig (Ecuador), are constantly disrupting order with
			unpredictable surprises. They represent the idea that life’s unpredictability can only be survived by an
			equally diverse repertoire of responses. The idea may have co-evolved with the ways the people of the
			Indigenous Americas emphasized diversity in their crops. If nature throws a flood one year and a drought
			the next, only broad genetic diversity in crops can help you survive. When Europeans arrived they were
			astounded to find a genetic treasure trove: corn, potato, tomato, bell pepper, chili pepper, vanilla,
			tobacco, beans, pumpkin, cassava root, avocado, peanut, pecan, cashew, pineapple, blueberry, sunflower,
			chocolate, and other plants they did not even know of's existence. Many had been bred for centuries to
			maximize variety. The European concept of a single, perfect, omnipotent God may have inspired useful
			concepts like optimization--find the one best type of oats--but in the long run that diminished their
			crop varieties.</p>
	</div>
</div>