<h1>
    Sistemas de Conocimiento Indígena: Tierra enredada
</h1>
<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/indiancorn.png" />
    </div>
    <div class="col-md-8">
        <p>La sección anterior explica el concepto de “Cielo Tejido”, ¿pero qué es de la “Tierra Enredada”? Los
            dioses traviesos, quienes usualmente son representados por animales como el coyote (México) y el
            conejillo de indias, o cuy, (Ecuador), constantemente interrumpen el orden con sorpresas impredecibles.
            Ellos representan la idea que la imprevisibilidad de la vida sólo puede ser sobrevivido por un
            repertorio de respuestas igualmente diverso. La idea pudo haber evolucionado junto con las maneras en
            las que las poblaciones indígenas de las Américas enfatizaban la diversidad de sus cultivos. Si la
            naturaleza les traía inundaciones un año y sequías al siguiente, la única manera de ayudarse ellos
            mismos a sobrevivir era mediante a la diversidad genética de los cultivos.</p>
        <p>Cuando llegaron los Europeos, estaban impresionados al encontrarse con tesoro genético: maíz, papa,
            jitomate, pimiento, chile, vainilla, tabaco, frijoles, calabaza, mandioca, aguacate, cacahuate, nuez
            pacana, marañón (anacardo), piña, mora azul, girasol, chocolate, y otras plantas que no conocían
            anteriormente, de las cuales varias habían sido reproducidas por centenas de años para maximizar su
            variedad. El concepto europeo de un Dios único, perfecto y omnipotente pudo haber sido una fuente de
            inspiración para conceptos útiles como la optimización —como encontrar la mejor variedad de avena— pero,
            a largo plazo, esto minimizó la variedad de cultivos. </p>
    </div>
</div>