<h1 class="sub">Materiales para docentes</h1>
<p class="subheader">Los materiales de esta sección están hechos para profesores, pero los estudiantes deben sentirse
    libres de explorarlos también.</p>

<h2>Otras adicionales: </h2>

<p><a
        href="http://homepages.rpi.edu/~eglash/eglash.dir/nacyb.dir/nacomplx.htm">http://homepages.rpi.edu/~eglash/eglash.dir/nacyb.dir/nacomplx.htm</a>
</p>
<p><a href="http://www.famsi.org/research/hopkins/DirectionalPartitions.pdf">Direcciones y Particiones en el Mundo Maya
        Nicholas A. Hopkins y J. Kathryn Josserand Florida State University [en inglés]</a></p>

<h2>Fuentes</h2>

<p>Cosmología Mesoamericana como la resume la Dra. Cecilia Kline en su ensayo “Woven Heaven, Tangled Earth.”
    (“Cielo Tejido, Tierra Enredada”) Image © 1981 Henry Klein, con su permiso.</p>
<p>Indigenous buildings typically used rows and columns to create a grid for supporting the roof. Photo from
    Mexicolo.co.uk.</p>
<p>Artesanía con cuentas Huichol en Ciudad de México . Foto por Alejandro Linares Garcia.</p>
<p>Bolsa guatemalteca con cuentas. Imagen cortesía de Sandi Escalle.</p>