<h1 class="sub">Teaching Materials</h1>
<p class="subheader">The materials in this section are made for teachers, but students should feel free to browse them
    as well.</p>

<h2>Further reading:</h2>

<p><a
        href="http://homepages.rpi.edu/~eglash/eglash.dir/nacyb.dir/nacomplx.htm">http://homepages.rpi.edu/~eglash/eglash.dir/nacyb.dir/nacomplx.htm</a>
</p>

<p><a href="http://www.famsi.org/research/hopkins/DirectionalPartitions.pdf">Directions and Partitions in Maya World
        View Nicholas A. Hopkins and J. Kathryn Josserant Florida State University</a></p>

<h2>Acknowledgements</h2>

<p>Mesoamerican cosmology as summarized by Dr. Cecilia Kline in her essay “Woven Heaven, Tangled Earth.” Image ©
    1981 Henry Klein, by permission.</p>
<p>Indigenous buildings typically used rows and columns to create a grid for supporting the roof. Photo from
    Mexicolo.co.uk.
</p>

<p>Huichol beadwork in Mexico city. Photo by Alejandro Linares Garcia.</p>
<p>Labyrinth motifs in pottery and face painting of the Shipibo people in Peru, Brazil and Bolivia.</p>
<p>Guatemalan beaded purse. Image courtesy of Sandi Escalle.</p>