<h1>Woven Heaven Tangled Earth Tutorial</h1>

<section>
	<div class="modal fade" id="IntroModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">¡Bienvenido!</h4>
				</div>

				<div align="center" class="modal-body">
					<img src="img/step0.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
					<p>&nbsp;</p>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" data-target="#modal1" data-toggle="modal" type="button">
						START!
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Mi primer programa</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step1.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/placement.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal2" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Haciendo triángulos</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step2.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>
						<div class="col-xs-3"><img src="img/triangle.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal3" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Haciendo diamantess</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step3.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/diamond.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal4" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Controlando el Brillo</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step4.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/shade.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal5" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Diseñando figuras compuestas</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step5.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/overlay.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal6" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Haciendo líneas</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step6.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/lines.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal7" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Entendiendo los ciclos</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step7.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/repeating.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal8" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Creando Variables</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step8.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/variables.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal9" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Ciclos de ciclos</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step9.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/loopsinloops.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal10" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Organizando bloques</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step10.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/categories.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal11" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Perfeccionando el diseño</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-xs-9">
							<p align="center">
								<img src="img/step11.gif" style="max-height: 400px; height: auto; max-width: 100%; width: auto" />
							</p>
						</div>

						<div class="col-xs-3"><img src="img/final.png" style="width: 100%" /></div>
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" type="button">Let&#39;s Do It!</button>
				</div>
			</div>
		</div>
	</div>

	<div style="height: 0px; overflow: hidden">
		<p>
			<button
				class="btn btn-info btn-lg"
				data-target="#IntroModal"
				data-toggle="modal"
				height="0px"
				id="openModalBtn"></button>
		</p>
	</div>

	<div style="width: 0">
		<div class="column-left">&nbsp;</div>

		<div class="column-right">&nbsp;</div>

		<div class="container">&nbsp;</div>

		<div class="container">&nbsp;</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<p style="font-size: 20px; text-align: center">
				<a
					class="CSnapLoadBtn"
					data-target="#modal1"
					data-toggle="modal"
					href="#"
					id="link1"
					name="/media/files/2018-03-30/blob_tf8rj6O"
					style="background-color: #ebebeb"
					value="First_CheatFullScreen_Next:link2"
					>#1
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal2"
					data-toggle="modal"
					href="#"
					id="link2"
					name="/media/files/2018-03-30/blob_CoCp45V"
					style="background-color: #fff"
					value="Prev:link1_Next:link3">
					#2
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal3"
					data-toggle="modal"
					href="#"
					id="link3"
					name="/media/files/2018-03-30/blob_1uMLPk0"
					style="background-color: #fff"
					value="Prev:link2_Next:link4">
					#3
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal4"
					data-toggle="modal"
					href="#"
					id="link4"
					name="/media/files/2018-03-30/blob_4LTFuZu"
					style="background-color: #fff"
					value="Prev:link3_Next:link5">
					#4
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal5"
					data-toggle="modal"
					href="#"
					id="link5"
					name="/media/files/2018-03-30/blob_4tNoC78"
					style="background-color: #fff"
					value="Prev:link4_Next:link6">
					#5
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal6"
					data-toggle="modal"
					href="#"
					id="link6"
					name="/media/files/2018-03-30/blob_3BciqeK"
					style="background-color: #fff"
					value="Prev:link5_Next:link7">
					#6
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal7"
					data-toggle="modal"
					href="#"
					id="link7"
					name="/media/files/2018-03-30/blob_voT0rDZ"
					style="background-color: #fff"
					value="Prev:link6_Next:link8">
					#7
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal8"
					data-toggle="modal"
					href="#"
					id="link8"
					name="/media/files/2018-03-30/blob_iOIB0GN"
					style="background-color: #fff"
					value="EnableMakeAVar_Prev:link7_Next:link9">
					#8
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal9"
					data-toggle="modal"
					href="#"
					id="link9"
					name="/media/files/2018-03-30/blob_TLpjDaE"
					style="background-color: #fff"
					value="EnableMakeAVar_Prev:link8">
					#9
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal10"
					data-toggle="modal"
					href="#"
					id="link9"
					name="/media/files/2018-03-30/blob_vB6zcFK"
					style="background-color: #fff"
					value="EnableMakeAVar_Prev:link8">
					#10
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal11"
					data-toggle="modal"
					href="#"
					id="link9"
					name="/media/files/2018-03-30/blob_sq5lpqI"
					style="background-color: #fff"
					value="EnableMakeAVar_ShowCategories_ShowControlButtons_ShowThumbnail_ShowCorral_Prev:link8">
					#11
				</a>
				| &nbsp; |
				<a
					class="CSnapLoadBtn"
					data-target="#modal12"
					data-toggle="modal"
					href="#"
					id="link10"
					name="/media/files/2017-08-23/blob_CZgU4oR"
					style="background-color: #fff"
					value="EnableMakeAVar_ShowCategories_ShowControlButtons_ShowThumbnail_ShowCorral_Prev:link9">
					Create My Own
				</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<iframe id="CSnapFrame" src="/projects/6152/run" style="width: 100%; height: 750px"></iframe>
		</div>
	</div>

	<div class="row">&nbsp;</div>
</section>
