<h1>
    Sistemas de Conocimiento Indígena: Cielo Tejido
</h1>

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/wovenheaventangledearth.png" />
    </div>
    <div class="col-md-8">
        <p>La Profesora Cecilia Kline de Universidad de California, Los Ángeles (UCLA, por sus siglas en inglés) ha
            resumido la visión que tenían grupos prehispánicos Mesoamericanos, como los Mayas y los Aztecas, como
            “Cielo Tejido, Tierra Enredada” (“Woven Heaven, Tangled Earth” en Inglés). En esta cosmología, los
            “altos dioses” y sus seguidores humanos imponen un orden sobre el mundo, el cual es simbolizado por las
            filas y columnas del telar. Mientras tanto, los dioses inferiores, como los “traviesos”, crean el enredo
            al cual hoy en día llamamos ecosistemas y adaptación evolutiva. </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/indigenousbuilding.png" />
    </div>
    <div class="col-md-8">
        <p>La representación del “orden desde arriba” como una simetría con dos ejes con frecuencia aparece en otros
            conceptos Latinoamericanos. Por ejemplo, en el idioma Maya, para expresar los conceptos de “cielo” y
            “cuatro” se utiliza la misma pronunciación (“chan”). Se puede encontrar un un arreglo Cartesiano similar
            en la construcción de las viviendas tradicionales indígenas, las cuales cuentan con un techo “tejido”.
            Existen otros artefactos tradicionales que cuentan con esta estructura, como los tapetes para dormir,
            las trampas para pescar, las canastas y, con mayor importancia, el telar que utilizaban para crear
            textiles tejidos.</p>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid rounded" src="img/calendar.png" />
            </div>
            <div class="col-md-6">
                <img class="img-fluid rounded" src="img/tenochtitlan.png" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <img class="img-fluid rounded" src="img/northsoutheastwest.png" />
            </div>

            <div class="col-md-6">

                <img class="img-fluid rounded" src="img/obsidian.png" />
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <p>Los arqueólogos que estudian este tema han mostrado varias maneras en las culturas Mesoamericanas
            prehispánicas utilizan su sistema de dos ejes para organizar el mundo. Por ejemplo, cada punto cardinal
            estaba asociado con un tipo de movimiento: el sentido Norte-Sur para volar y nadar, y Este-Oeste para
            caminar y gatear.</p>

        <p>Algunos de sus sistemas de calendario estaban organizados por cuadrantes: por ejemplo, uno de los
            sistemas Mayas constaba de 9.1 años, organizado por cuadrantes de 819 días cada uno. </p>

        <p>Muchas ciudades antiguas de América Latina estaban divididas en cuadrantes, como Tiwanaku en Bolivia y
            Cusco en Perú. Este mapa de Tenochtitlán que muestra los ejes del templo de la Luna y el templo del Sol
            fue dibujado en 1524. John Dee, un matemático Británico obsesionado con los reportes del Nuevo Mundo
            (inclusive tenía un espejo de obsidiana de origen Azteca), dibujó una “cruz de graduación” en uno de sus
            libros en 1570. Mientras tanto, René Descartes creó el sistema Cartesiano de dos ejes en 1673. ¿Podría
            ser que la historia del sistema de coordenadas Cartesianas pueda correr desde Tenochtitlán, hasta Dee y,
            por último, Descartes? ¿Qué piensan ustedes?</p>
    </div>
</div>