<h1>
    Indigenous Knowledge Systems: Woven Heaven
</h1>

<div class="row">
    <div class="col-md-4">

        <img class="img-fluid rounded" src="img/wovenheaventangledearth.png" />
    </div>

    <div class="col-md-8">
        <p>Professor Cecilia Kline of UCLA has summarized the view of Mayan, Aztec, and other ancient Mesoamerican
            groups as “Woven Heaven, Tangled Earth.” In this cosmology, “high gods” and their human followers impose
            order on the world, symbolized by the row∏s and columns of the loom. Lower gods such as “tricksters”
            create the entanglement we think of today as ecosystems and evolutionary adaptation.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="img/indigenousbuilding.png" />
    </div>

    <div class="col-md-8">

        <p>The “order from above” as four-fold symmetry appears often in Latin American concepts. In Mayan, for
            example the word for “sky” and “four” sound the same (“chan”). A similar Cartesian arrangement can be
            seen in the traditional Indigenous house, with a “woven” roof overhead. Sleeping mats, fish traps,
            baskets, and many other traditional items have this structure, including perhaps most importantly the
            loom used to create woven fabrics.</p>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid rounded" src="img/calendar.png" />
            </div>
            <div class="col-md-6">
                <img class="img-fluid rounded" src="img/tenochtitlan.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid rounded" src="img/northsoutheastwest.png" />
            </div>
            <div class="col-md-6">
                <img class="img-fluid rounded" src="img/obsidian.png" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <p>Archaeologists have shown several ways that the ancient Mesoamerican cultures use their two axis system
            to organize the world. For example, each direction was associated with a different kind of motion:
            North-South was flying/swimming, and East-West was Walking/Crawling.</p>

        <p>Some of their calendars were organized by quadrants: for example, one of the Mayan systems was 9.1 years,
            organized by four quadrants of 819 days each.</p>

        <p>Many ancient cities of Latin America were divided into quadrants: Tiwanaku in Bolivia, and Cuzco in Peru,
            for example. This map of Tenochtitlan, showing the axes for temple of the moon and temple of the sun,
            was drawn in 1524. John Dee, a British mathematician obsessed with reports from the New World (he even
            owned an obsidian mirror of Aztec origin), drew a “cross of graduation” in one of his books in 1570.
            Rene Descartes created the Cartesian two-axis system in 1637. Could the history of the Cartesian
            coordinate system run from Tenochtitlan, to Dee, to Descartes? What do you think?</p>
    </div>
</div>